.Export {
    text-align: center;
  }

  .Export-root {
    background-color: #FFFFFF;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .Export-root p {
    color: #3e4444;
  }